{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Planet Facts | {% block title %}{% endblock %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/header.css' %}" rel="stylesheet">
        <link href="{% static 'css/menu_mobile.css' %}" rel="stylesheet">
        <link href="{% static 'css/planet_detail.css' %}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;500&family=League+Spartan&display=swap" rel="stylesheet">
    </head>
<body>
    <!-- website header start -->
    <header class="pfs__header">
        {% block header %}
        {% include "./menu.html" %}
        {% endblock %}
    </header>
    <!-- website header end -->
    {% include "./menu_mobile.html" %}
    <!-- website main content start -->
    <main class="pfs__content">
        {% block content %}
        {% endblock %}
    </main>
    <!-- website main content end -->
</body>
</html>
