<section class="pfs__header__container">
    <div class="menu-left">
        <h1 class="pfs__header__heading">Planets</h1>
    </div>
    <div class="menu-right">
        <a id="hamburger" class="pfs__mobile-hamburger" href="#menu" role="navigation"></a>
        <ul class="pfs__header__menu__list">
            <li id="mercury" class="pfs__header__menu__list__item">
                <a href="#mercury">mercury</a>
            </li>
            <li id="venus" class="pfs__header__menu__list__item">
                <a href="#venus">venus</a>
            </li>
            <li id="earth" class="pfs__header__menu__list__item">
                <a href="#earth">earth</a>
            </li>
            <li id="mars" class="pfs__header__menu__list__item">
                <a href="#mars">mars</a>
            </li>
            <li id="jupiter" class="pfs__header__menu__list__item">
                <a href="#jupiter">jupiter</a>
            </li>
            <li id="saturn" class="pfs__header__menu__list__item">
                <a href="#saturn">saturn</a>
            </li>
            <li id="uranus" class="pfs__header__menu__list__item">
                <a href="#uranus">uranus</a>
            </li>
            <li id="neptune" class="pfs__header__menu__list__item">
                <a href="#neptune">neptune</a>
            </li>
        </ul>
    </div>
</section>
