{% extends "./base.html" %}
{% block title %}{{ planet.name }}{% endblock %}
{% block content %}
<header class="pfs__header">
    {% include "./menu.html" %}
</header>
<section class="pfs__planet-detail__container">

    <section class="pfs__planet-detail">

        <figure class="pfs__planet-detail__figure">
            <img src="{{ planet_image }}" alt={{ planet.name }} />
        </figure>

        <article class="pfs__planet-detail__article">

            <section class="pfs__planet-detail__article__overview">
                <h2>{{ planet.name }}</h2>
                <p class="pfs__planet-detail__article__overview__blurb">
                    {{ blurb }}
                </p>
                <span class="pfs__planet-detail__article__overview__link">
                    Source: <a href="{{ planet.link }}">Wikipedia</a>
                </span>
            </section>

            {% include "./planet_navigation.html" %}
            
        </article>

    </section>

    {% include "./planet_stats.html" %}

</section>
{% endblock %}
