<aside class="pfs__planet-stats">
    <ul class="pfs__planet-stats__list">
        <li class="pfs__planet-stats__list__item">
            <span class="pfs__planet-stats__list__item__title">
                rotation time
            </span>
            <p class="pfs__planet-stats__list__item__metric">
            {{ planet.rotation_time }} DAYS
            </p>
        </li>
        <li class="pfs__planet-stats__list__item">
            <span class="pfs__planet-stats__list__item__title">
                rotation time
            </span>
            <p class="pfs__planet-stats__list__item__metric">
            {{ planet.rotation_time }} DAYS
            </p>
        </li>
        <li class="pfs__planet-stats__list__item">
            <span class="pfs__planet-stats__list__item__title">
                revolution time
            </span>
            <p class="pfs__planet-stats__list__item__metric">
            {{ planet.revolution_time }} KM
            </p>
        </li>
        <li class="pfs__planet-stats__list__item">
            <span class="pfs__planet-stats__list__item__title">
                radius
            </span>
            <p class="pfs__planet-stats__list__item__metric">
            {{ planet.radius }} °C
            </p>
        </li>
    </ul>
</aside>


