*{
    box-sizing: border-box;
    padding: 0;
}

html {
    background-color: #070724;
    background-image: url('../imgs/desktop-bg.png');
    background-size: cover;
    color: #ffffff;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100%;
}

h1,h2,h3,h4 {
    font-family: 'Antonio', serif;
}
